<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bet Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Bet Management System</h1>
		<hr>
		<h2>Update Bets</h2>

		<form action="#" th:action="@{/saveBet}" th:object="${bet}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{team1}"
				   placeholder="Team1" class="form-control mb-4 col-4">

			<input type="text" th:field="*{team2}"
				   placeholder="Team2" class="form-control mb-4 col-4">

			<input type="text" th:field="*{win_1}"
				   placeholder="Win_1" class="form-control mb-4 col-4">

			<input type="text" th:field="*{win_2}"
				   placeholder="Win_2" class="form-control mb-4 col-4">

			<input type="text" th:field="*{tie_x}"
				   placeholder="Tie_x" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update bet</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Bet List</a>
	</div>
</body>
</html>